{:paths ["src"]
 :deps {cheshire/cheshire {:mvn/version "5.11.0"}
        fipp/fipp {:mvn/version "0.6.27"}}

 :aliases
 ;; clojure -M:add
 {:add {:main-opts ["-m" "spiritual-anarchy.tools.add-runner"]}}}

;; :extra-deps {org.babashka/http-client {:mvn/version "0.3.11"}}
